{% extends 'base.html' %}

{% block head %} 
<title>Santander Customer Transaction Prediction</title>
{% endblock %}


{% block body %} 

<br><br>
    <main role="main">
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
            <div class="col-md-50 px-50">
              <h1 class="display-4 font-italic">Santander Customer Transaction Prediction</h1>
              <br><br>
              <p class="lead my-3">Welcome to Santander Customer Transaction Prediction App</p>
              <p class="lead my-3">This is an app to predict whether a customer will make any transaction in the future or not, on the basis of past data.</p>
              <br>
              <p class="lead mb-0"><a class="btn btn-primary" href="/predict" role="button">Let's Go Predicting &raquo;</a></p>
              
            </div>
        </div>
    </main>
{% endblock %}